.main {
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: flex-start; */

	display: grid;
	/* grid-auto-rows: max-content; */
	/* grid-template-rows: calc(1080px * (var(--zoom) / 100)) auto; */
	grid-template-rows: calc(1080px + 40px) auto;
	grid-template-columns: auto auto;
	column-gap: 16px;
	/* grid-template-rows: repeat(2, auto); */
	row-gap: 32px;
	/* grid-template-columns: auto; */
	/* place-content: center; */
	/* place-items: center; */

	/* padding-top: 0;
	padding-bottom: 40px;
	padding-left: 16px;
	padding-right: 16px; */

	/* min-height: 100vh; */

	/* touch-action: manipulation; */
	user-select: none;
	margin-top: 16px;
	/* touch-action: pinch-zoom; */
	position: absolute;
	top: 0;
	left: 0;
}
.main button {
	user-select: none;
	cursor: pointer;
	touch-action: manipulation;
}
.games {
	z-index: 1;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	/*  */
	/* display: grid; */
	/* grid-auto-rows: 454px; */
	/* row-gap: 32px; */
	/*  */
	/* width: 397px; */
	/* height: 454px; */
	/* display: flex; */
	/* gap: 32px; */
	/* flex-basis: 0; */
	/* flex-direction: column; */
	/* margin-right: 18px; */
}
.games > * {
	padding-right: 18px;
	padding-bottom: 18px;
}
.place {
	width: 397px;
	height: 454px;
}

/* .games {
	margin-left: 16px;
	margin-right: 16px;
	display: flex;
	gap: 32px;
	flex-basis: 0;
	grid-column: span 2;
}
 */
